In [99]:
import pandas as pd

# Investigate the Data

In [100]:
new_york_tweets = pd.read_json("new_york.json", lines=True)

In [101]:
new_york_tweets.head()

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,lang,timestamp_ms,extended_tweet,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_entities,withheld_in_countries
0,2018-07-26 13:32:33+00:00,1022474755625164800,1022474755625164800,@DelgadoforNY19 Calendar marked.,"[16, 32]","<a href=""http://twitter.com/download/android"" ...",False,1.022208e+18,1.022208e+18,8.290618e+17,...,en,2018-07-26 13:32:33.060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-26 13:32:34+00:00,1022474762491183104,1022474762491183104,petition to ban more than one spritz of cologne,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,...,en,2018-07-26 13:32:34.697,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-26 13:32:35+00:00,1022474765750226945,1022474765750226944,People really be making up beef with you in th...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,...,en,2018-07-26 13:32:35.474,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-26 13:32:36+00:00,1022474768736546816,1022474768736546816,30 years old.. wow what a journey... I moved t...,NaN,"<a href=""http://instagram.com"" rel=""nofollow"">...",True,NaN,NaN,NaN,...,en,2018-07-26 13:32:36.186,{'full_text': '30 years old.. wow what a journ...,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-26 13:32:36+00:00,1022474769260838913,1022474769260838912,At first glance it looked like asparagus with ...,NaN,"<a href=""http://twitter.com/download/iphone"" r...",True,NaN,NaN,NaN,...,en,2018-07-26 13:32:36.311,{'full_text': 'At first glance it looked like ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
new_york_tweets.columns

Index(['created_at', 'id', 'id_str', 'text', 'display_text_range', 'source',
       'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'is_quote_status', 'quote_count', 'reply_count',
       'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted',
       'filter_level', 'lang', 'timestamp_ms', 'extended_tweet',
       'possibly_sensitive', 'quoted_status_id', 'quoted_status_id_str',
       'quoted_status', 'quoted_status_permalink', 'extended_entities',
       'withheld_in_countries'],
      dtype='object')

In [103]:
new_york_tweets.loc[0]

created_at                                           2018-07-26 13:32:33+00:00
id                                                         1022474755625164800
id_str                                                     1022474755625164800
text                                          @DelgadoforNY19 Calendar marked.
display_text_range                                                    [16, 32]
source                       <a href="http://twitter.com/download/android" ...
truncated                                                                False
in_reply_to_status_id                                              1.02221e+18
in_reply_to_status_id_str                                          1.02221e+18
in_reply_to_user_id                                                8.29062e+17
in_reply_to_user_id_str                                            8.29062e+17
in_reply_to_screen_name                                         DelgadoforNY19
user                         {'id': 316616881, 'id_str': '316616881', 'name...
geo                                                                       None
coordinates                                                               None
place                        {'id': '01a9a39529b27f36', 'url': 'https://api...
contributors                                                               NaN
is_quote_status                                                          False
quote_count                                                                  0
reply_count                                                                  0
retweet_count                                                                0
favorite_count                                                               0
entities                     {'hashtags': [], 'urls': [], 'user_mentions': ...
favorited                                                                False
retweeted                                                                False
filter_level                                                               low
lang                                                                        en
timestamp_ms                                        2018-07-26 13:32:33.060000
extended_tweet                                                             NaN
possibly_sensitive                                                         NaN
quoted_status_id                                                           NaN
quoted_status_id_str                                                       NaN
quoted_status                                                              NaN
quoted_status_permalink                                                    NaN
extended_entities                                                          NaN
withheld_in_countries                                                      NaN
Name: 0, dtype: object

In [104]:
new_york_tweets.loc[0]['text']

'@DelgadoforNY19 Calendar marked.'

In [105]:
paris_tweets = pd.read_json("paris.json", lines=True)
london_tweets = pd.read_json("london.json", lines=True)

In [106]:
paris_tweets.head()

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,lang,timestamp_ms,display_text_range,extended_entities,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_tweet
0,2018-07-27 17:40:45+00:00,1022899608396156928,1022899608396156928,Bulletin mÃ©tÃ©o parisien : des grÃªlons Ã©normes ...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,...,fr,2018-07-27 17:40:45.854,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-27 17:40:47+00:00,1022899613550956544,1022899613550956544,PrÃªt pour le match #USORCL https://t.co/V5jw0S...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,...,fr,2018-07-27 17:40:47.083,"[0, 26]","{'media': [{'id': 1022899599336525825, 'id_str...",0.0,NaN,NaN,NaN,NaN,NaN
2,2018-07-27 17:40:50+00:00,1022899626041651200,1022899626041651200,MAIS QOIDBDNND'SLS'SLSLLSLS''D DBDODNDNODJDBKD...,"<a href=""http://twitter.com/download/android"" ...",False,NaN,NaN,NaN,NaN,...,in,2018-07-27 17:40:50.061,"[0, 111]","{'media': [{'id': 1022899571884744706, 'id_str...",0.0,NaN,NaN,NaN,NaN,NaN
3,2018-07-27 17:40:57+00:00,1022899655347249152,1022899655347249152,@ToursFC OÃ¹ peut on le championnat de National...,"<a href=""http://twitter.com/download/android"" ...",False,1.022888e+18,1.022888e+18,978599220.0,978599220.0,...,fr,2018-07-27 17:40:57.048,"[9, 50]",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-27 17:40:57+00:00,1022899656685223936,1022899656685223936,Les tismey ils sont bas quâ€™a tromper leur go e...,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,NaN,...,fr,2018-07-27 17:40:57.367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
london_tweets.head()

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,retweeted,filter_level,lang,timestamp_ms,possibly_sensitive,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_entities
0,2018-07-26 13:39:30+00:00,1022476504855400449,1022476504855400448,@bbclaurak i agree Laura but the Party you see...,"[11, 140]","<a href=""http://twitter.com/download/iphone"" r...",True,1.022447e+18,1.022447e+18,6.118357e+07,...,False,low,en,2018-07-26 13:39:30.109,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-07-26 13:39:30+00:00,1022476506075942912,1022476506075942912,@masturbacaolove Why?,"[17, 21]","<a href=""http://twitter.com/download/iphone"" r...",False,1.021997e+18,1.021997e+18,9.003777e+17,...,False,low,und,2018-07-26 13:39:30.400,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-07-26 13:39:31+00:00,1022476510089949190,1022476510089949184,@JackRobinson80 @pgroresearch Yeah not great b...,"[30, 65]","<a href=""http://twitter.com/download/iphone"" r...",False,1.022444e+18,1.022444e+18,7.355633e+08,...,False,low,en,2018-07-26 13:39:31.357,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-07-26 13:39:33+00:00,1022476519845883905,1022476519845883904,Penalty shit out Arsenal,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,...,False,low,en,2018-07-26 13:39:33.683,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-07-26 13:39:36+00:00,1022476532684648448,1022476532684648448,Obviously need some pen practice ðŸ™ˆ,NaN,"<a href=""http://twitter.com/download/iphone"" r...",False,NaN,NaN,NaN,...,False,low,en,2018-07-26 13:39:36.744,NaN,NaN,NaN,NaN,NaN,NaN

Then combine all three into a variable named all_tweets by using the + operator. For example, all_tweets = new_york_text + parsi_text + london_text  

Let's also make the labels associated with those tweets. 0 represents a New York tweet, 1 represents a Paris tweet, and 2 represents a LOndon tweet. Finish the definition of labels.

In [135]:
all_tweets = new_york_tweets['text'].tolist() + paris_tweets['text'].tolist()  + london_tweets['text'].tolist()

In [136]:
len(all_tweets)

12574

In [110]:
labels = [0] * len(new_york_tweets) + [1] * len(paris_tweets) + [2] * len(london_tweets)

In [111]:
len(labels)

12574

# Making a Training and Validation Set

In [112]:
from sklearn.utils import shuffle
all_tweets, labels = shuffle(all_tweets, labels, random_state=0)

In [113]:
def split_vals(a,n):
    return a[:n].copy(), a[n:].copy()

n_valid = 2000 
n_trn = len(all_tweets)-n_valid
raw_train, raw_valid = split_vals(all_tweets, n_trn)
X_train, X_valid = split_vals(all_tweets, n_trn)
y_train, y_valid = split_vals(labels, n_trn)

In [114]:
len(X_train), len(X_valid), len(y_train), len(y_valid)

(10574, 2000, 10574, 2000)

# Making the Count Vectors

To use a Naive Bayes Classifier, we need to transform our lists of words into count vectors. Recall that this changes the sentence "I love New York, New York" into a list that contains:

Two 1s because the words "I" and "love" each appear once.
Two 2s because the words "New" and "York" each appear twice.
Many 0s because every other word in the training set didn't appear at all.

In [115]:
from sklearn.feature_extraction.text import CountVectorizer

In [116]:
counter = CountVectorizer()

In [117]:
counter.fit(X_train)

CountVectorizer()

In [118]:
X_train_count = counter.transform(X_train)

In [119]:
X_valid_count = counter.transform(X_valid)

# Train and Test the Naive Bayes Classifier

In [120]:
from sklearn.naive_bayes import MultinomialNB

In [121]:
classifier = MultinomialNB()

In [122]:
classifier.fit(X_train_count, y_train)

MultinomialNB()

In [123]:
y_predicted = classifier.predict(X_valid_count)

In [124]:
classifier.score(X_valid_count, y_valid)

0.7065

# Evaluating Your Model

Now that the classifier has made its predictions, let's see how well it did. Let's look at two different ways to do this. First, call scikit-learn's accuracy_score function. This function should take two parameters â€” the test_labels and your predictions. Print the results. This prints the percentage of tweets in the test set that the classifier correctly classified.

In [125]:
import numpy as np
from sklearn.metrics import accuracy_score

In [126]:
y_true = np.array(y_valid)

In [127]:
accuracy_score(y_true, y_predicted)

0.7065

For our project using tweets, there were three classes â€” 0 for New York, 1 for Paris, and 2 for London. You can see the confustion matrix by printing the result of the confusion_matrix function using test_labels and predictions as parameters.

In [128]:
from sklearn.metrics import confusion_matrix

In [132]:
confusion_matrix(y_true, y_predicted)

array([[441,  16, 295],
       [ 33, 302,  74],
       [143,  26, 670]])

In [134]:
tweet = "The statue of liberty is beautiful"
tweet_counts = counter.transform([tweet])
print(classifier.predict(tweet_counts))

[0]